*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul{list-style: none;}
img{width: 100%;}

.container-grid{
    
    display: grid;
    grid-template-columns:[inicio]30px [inicio-temp] 10px repeat(11, 1fr 10px) [fim-temp]30px[fim];
    grid-template-rows: [inicio-cabecalho] auto [fim-cabecalho] 70px 
                        [inicio-content-principal] auto [fim-content-principal]10px
                        [inicio-content-cards] auto [fim-content-cards] 50px
                        [inicio-img-divisao-top]100px[fim-img-divisao-top]0px
                        [inicio-content-servicos] auto [fim-content-servicos]10px
                        [inicio-rodape]auto[fim-rodape]
                        ;
}
/*titulo padrão para todos os contents*/
.titles-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles-contents h2{
    font-family: 'Opens sans', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    color: #333;
    margin-bottom:8px;
}

.titles-contents hr{
    height: 3px;
    width: 100px;
    background-color: #0000ff;
    border: none;
}

/*GRID CABECALHO*/

.content-cabecalho{
    grid-column: inicio/fim;
    grid-row: inicio-cabecalho / fim-cabecalho;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

#logo{
    color:	#000080;
    font-size: 1.5em;
}
.btn-menu{
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linha{
    width: 100%;
    height:4px;
    background-color: #333;
    transition: .3s;
    width: 30px;
}
.btn-menu-toggle{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-menu-toggle .linha0{
    transform:rotate(45deg) translateY(3px);
}
.btn-menu-toggle .linha1{
    transform: translateX(-100%);
    display: none;
}
.btn-menu-toggle .linha2{
    transform:rotate(-45deg) translateY(-3px);
}




/*CONTENT MENU*/
.content-menu{
    width: 270px;
    height: 100%;
    border-right: 1px solid #efefef;
    flex:1;
    display: flex;
    flex-direction: column-reverse;
    
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #efefef;
    z-index: 9;
    transition: .3s;
}

.content-menu-toggle{
    transform: translateX(0%);
}

.content-menu ul.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 ;
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
}
.content-menu ul.menu li{
    width: 100%;

}
.content-menu ul.menu li a{
    width: 100%;
    padding: 15px 10px;
    padding-left: 30px;
    display: block;
    font-size: 0.9em;
    color: #4F4F4F;
    cursor: pointer;
}
.content-menu ul.menu li a:hover{
    background-color: #fff;
}

.content-login-cadastro{
   width: 100%;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   margin-bottom: 20px;
}

.content-login-cadastro .btn-login{
    color:#4F4F4F ;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin-right: 25px;
}
.content-login-cadastro .btn-cadastro{
    padding:  6px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.95em;
    color:#0000FF;
    display: block;
}
.content-login-cadastro .btn-cadastro:hover{
    background-color: #0000ff;
    color: #fff;

}

/*GRID IMAGEM E TITTLES*/
.content-principal{
    grid-column:inicio-temp / fim-temp ;
    grid-row:inicio-content-principal / fim-content-principal ;
    display: grid;
    grid-template-columns:[inicio]70px [inicio-banner-titles]10px repeat(11, 1fr 10px) [fim-banner-titles]70px[fim];
    grid-template-rows: [inicio-banner]auto[fim-banner]60px
                        [inicio-titles]auto[fim-titles];
    padding-bottom: 70px;
}

.content-img{  /*1 /span 12*/
    min-height: 300px;
    grid-column:inicio/fim ;
    grid-row: inicio-banner / fim-banner;
    position: relative;
    
    background-image: url(../img/svg/card.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.detalhes-img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right:0 ;
    border-radius:0 0 8px 8px;
    background-color:#efefef;
    color: #333;
    display: block;
    padding: 5px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    transition: .4s;
}


.content-titles{
    padding:0 20px 0 30px;
    grid-column:fim/inicio;  /* 14 / span 22*/
    grid-row: inicio-titles/fim-titles;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content-titles h2.title{
    font-family: 'Roboto', sans-serif;
    color: #0000ff;
    margin-bottom: 20px;

}

.content-titles p.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.content-titles ul.lista-titles{
    width: 100%;
    margin-bottom: 30px;
}
.item-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-item{
    width: 10px;
    height: 10px;
    background-image: url(../img/svg/checklist2.svg);
    background-repeat: no-repeat;
    margin-right: 10px;
}

.btn-title-comprar{
    border: none;
    padding: 10px 20px;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}
.btn-title-comprar:hover{
    background-color: #000080;
}

/*COFIGURAÇÃO DOS CARDS*/
.content-cards{
    grid-column:inicio-temp / fim-temp ;
    grid-row:inicio-content-cards/fim-content-cards ;
    margin-top: 40px;
    display: grid;
    grid-template-columns:[inicio]50px [inicio-card-um] auto [fim-card-um] auto [inicio-card-dois]20%[fim-card-dois]auto[inicio-card-tres]20%[fim-card-tres]auto[inicio-card-quatro]20%[fim-card-quatro]50px[fim];
    grid-template-rows: [title-content-cards] auto [fim-title-content-cards]40px
                        [inicio-card-um]auto[fim-card-um]30px
                        [inicio-card-dois]auto[fim-card-dois]30px
                        [inicio-card-tres]auto[fim-card-tres]30px
                        [inicio-card-quatro]auto[fim-card-quatro]30px
                        
                        ;
    margin-bottom: 60px;
}
.title-content-cards{
    grid-column: inicio-card-um / fim-card-quatro;
    grid-row:title-content-cards/fim-title-content-cards ;
}

.card{
    min-height: 230px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.bar-load{
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #0000ff;
}
.card:hover .bar-load{
    width: 100%;
    animation: animaCard .3s ease-in-out;
}
@keyframes animaCard{
    0%{width: 0%;}
    100%{width: 100%;}
}
.card .preco-card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    color: #000080;
}
.card .preco-card .moeda{
    margin-right: 3px;
}
.card .title{
    color: #000080;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.card .descricao{
    font-family: 'Open Sans' sans-serif;
    font-weight: lighter;
    font-size: .95em;
    padding: 0 7px;
    color: #333;
    margin-bottom: 25px;
}
.card .btn-detalhes{
    background-color: rgba(128,0,128, 1);
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.card .btn-detalhes:hover{
    background-color: rgba(128,0,128, 0.7);
}
.card-01{
    grid-column:inicio/fim ;
    grid-row: inicio-card-um/fim-card-um;
}
.card-02{
    grid-column:inicio/fim ;
    grid-row: inicio-card-dois/fim-card-dois;
}
.card-03{
    grid-column:inicio /fim;
    grid-row: inicio-card-tres/fim-card-tres;
}

.card-04{
    grid-column:inicio/fim ;
    grid-row: inicio-card-quatro/fim-card-quatro;
}
/*IMG-DIVISAO*/
.img-divisao{
    grid-column:inicio/fim;
    grid-row: inicio-img-divisao-top/fim-img-divisao-top;
    background-image: url(../img/svg/divisao.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    margin-bottom: -4px;
}

/*CONFIGURAÇÕES DA SECTION SERVIÇOS*/

.content-servicos{
    background-color: #efefef;
    grid-column: inicio / fim;
    grid-row:inicio-content-servicos/fim-content-servicos;
    display: grid;
    grid-template-columns: 30px[inicio]0px[inicio-item01]auto[fim-item01]30px[inicio-item02]auto[fim-item02]30px[inicio-item03]auto[fim-item03]0px[fim]30px;
    grid-template-rows: [inicio-title]auto[fim-title]30px[inicio-item01]auto[fim-item01]30px[inicio-item02]auto[fim-item02]30px[inicio-item03]auto[fim-item03];
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.title-servicos{
    grid-column: inicio/fim;
    grid-row: inicio-title/fim-title;
}

.servico{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.servico .title-servico{
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
    font-weight: lighter;
}

.content-img-servico{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.content-img-servico img{
    width: 80%;
}

.servico-01{
    grid-column: inicio/fim;
    grid-row:inicio-item01/fim-item01 ;
}

.servico-02{
    grid-column:  inicio/fim;
    grid-row:inicio-item02/fim-item02 ;
}

.servico-03{
    grid-column:  inicio/fim;
    grid-row:inicio-item03/fim-item03 ;
}

/*configuração newsletter*/  
.content-footer{
    grid-column: inicio/fim;
    grid-row: inicio-rodape/fim-rodape;
    background-color: #333;
    padding: 0 30px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    margin-bottom: 30px;
}

.newsletter h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.form-newsletter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-newsletter input{
    width: 100%;
    padding: 15px;
    margin-right:0;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #0000ff;
}
.form-newsletter button{
    flex: 1;
    padding:10px 15px;
    color: #fff;
    border: none;
    background-color: #0000ff;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.copyright-midias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.copyright{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.copyright p{
    margin-right: 20px;
    color: #fff;
}
.copyright span{
    color: #fff;
}
.copyright span a{
    color: #fff;
}
.copyright span:hover a{
    text-decoration: underline;

}

.midias-sociais{
    display: flex;
}
.midias-sociais li a{
    padding: 5px;
    color:#efefef;
}
.midias-sociais li a:hover{
    color: #ccc;
}

/*MEDIA QUERIES*/

@media screen and (min-width:580px){

    .content-principal{
        padding:20px 70px 70px 70px;
    }

    .content-cards{
        padding: 0 90px;
    }

}

@media screen and (min-width:680px){
    .detalhes-img{
        width: 60%;
        position: absolute;
        bottom: -40px;
        right:-5% ;
        border-radius:8px;
        background-color:#efefef;
        color: #333;
        display: flex;
        padding: 20px;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        font-size: 1em;
        transition: .4s;
        
    }
    .content-cards{
        padding: 0 30px;
        grid-template-columns: [inico-cards-um-tres]1fr[fim-cards-um-tres]20px[inicio-cards-dois-quatro]1fr[fim-cards-dois-quatro];
        grid-template-rows: [inicio-title-content-cards]auto[fim-title-content-cards]30px
                            [inicio-cards-um-dois]auto[fim-cards-um-dois]20px
                            [inicio-cards-tres-quatro]auto[fim-cards-tres-quatro];
    }
    .title-content-cards {
        grid-column: inico-cards-um-tres/fim-cards-dois-quatro;
        grid-row:inicio-title-content-cards/fim-title-content-cards ;
    }
    .card-01{
        grid-column:inico-cards-um-tres/fim-cards-um-tres ;
        grid-row:inicio-cards-um-dois/fim-cards-um-dois ;
    }

    .card-02{
        grid-column: inicio-cards-dois-quatro/fim-cards-dois-quatro;
        grid-row: inicio-cards-um-dois/fim-cards-um-dois ;
    }

    .card-03{
        grid-column:inico-cards-um-tres/fim-cards-um-tres ;
        grid-row: inicio-cards-tres-quatro/fim-cards-tres-quatro;
    }

    .card-04{
        grid-column: inicio-cards-dois-quatro/fim-cards-dois-quatro;
        grid-row: inicio-cards-tres-quatro/fim-cards-tres-quatro;
    }
}

@media screen and (min-width:720px){
    .btn-menu{
        display: none;
    }
    .content-menu{
        width: 100%;
        display: flex;
        transform: translateX(0%);
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-right: none;
        background-color: inherit;
    }
    .content-menu ul.menu{
        flex:1;
        flex-direction: row;
        padding: 0 20px;
    }
    .content-menu ul.menu li a:hover{
        background-color: inherit;
    }
    .content-login-cadastro{
        width: auto;
        margin-bottom: 0;
    }
    .content-principal{
        padding:20px 90px 90px 90px;
    }


}